# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

pcs-web-ui-*
.npmrc
.eslintcache

stamps*

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
configure~
missing
install-sh

/.dev
/.tmp
